In [18]:
# Run cell before starting workspace - loads necessary packages

library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [19]:
# Read data into df
url <- "https://raw.githubusercontent.com/incribo-inc/stroke_prediction/main/stroke_prediction_dataset.csv"
stroke <- read.csv(url)

In [20]:
# set seed - don't change!
set.seed(1234)

# wrangling
stroke_selected <- stroke |>
    select(Age, Gender, Hypertension, Heart.Disease, Alcohol.Intake, 
           Physical.Activity, Family.History.of.Stroke,
           Dietary.Habits, Stress.Levels, Diagnosis)

# rename columns
stroke_renamed <- stroke_selected |>
    rename(age = Age,
           gender = Gender,
           hypertension = Hypertension,
           heart_disease = Heart.Disease,
           alcohol_intake = Alcohol.Intake,
           activity = Physical.Activity,
           family_history = Family.History.of.Stroke,
           diet = Dietary.Habits,
           stress = Stress.Levels,
           dx = Diagnosis)
stroke_renamed           

# split data
# we are using 9 predictors, so 67% data used as training, 33% predicting

stroke_split <- initial_split(stroke_renamed, prop = 0.67, strata = dx)
stroke_train <- training(stroke_split)
stroke_test <- testing(stroke_split)

stroke_train
stroke_test

      age gender hypertension heart_disease alcohol_intake activity
1     56  Male   0            1             Social Drinker Moderate
2     80  Male   0            0             Never          Low
3     26  Male   1            1             Rarely         High
⋮     ⋮   ⋮      ⋮            ⋮             ⋮              ⋮
14998 35  Male   0            0             Rarely         High
14999 73  Male   0            0             Never          High
15000 64  Female 0            0             Rarely         Moderate
      family_history diet  stress dx
1     Yes            Vegan 3.48   Stroke
2     No             Paleo 1.73   Stroke
3     Yes            Paleo 7.31   Stroke
⋮     ⋮              ⋮     ⋮      ⋮
14998 No             Paleo 0.51   Stroke
14999 Yes            Paleo 1.53   No Stroke
15000 No             Vegan 4.57   Stroke

      age gender hypertension heart_disease alcohol_intake   activity
4     73  Male   0            0             Frequent Drinker Moderate
10    82  Male   0            0             Rarely           High
11    41  Male   0            1             Frequent Drinker Low
⋮     ⋮   ⋮      ⋮            ⋮             ⋮                ⋮
14986 75  Male   1            1             Frequent Drinker Moderate
14993 81  Female 1            1             Rarely           Moderate
15000 64  Female 0            0             Rarely           Moderate
      family_history diet           stress dx
4     No             Paleo          5.35   No Stroke
10    Yes            Non-Vegetarian 8.39   No Stroke
11    Yes            Pescatarian    1.56   No Stroke
⋮     ⋮              ⋮              ⋮      ⋮
14986 No             Gluten-Free    0.23   Stroke
14993 No             Non-Vegetarian 5.49   Stroke
15000 No             Vegan          4.57   Stroke

      age gender hypertension heart_disease alcohol_intake activity
2     80  Male   0            0             Never          Low
3     26  Male   1            1             Rarely         High
5     51  Male   1            1             Rarely         Low
⋮     ⋮   ⋮      ⋮            ⋮             ⋮              ⋮
14991 47  Female 0            1             Social Drinker Moderate
14994 90  Female 1            0             Rarely         Low
14998 35  Male   0            0             Rarely         High
      family_history diet        stress dx
2     No             Paleo       1.73   Stroke
3     Yes            Paleo       7.31   Stroke
5     Yes            Pescatarian 6.84   Stroke
⋮     ⋮              ⋮           ⋮      ⋮
14991 Yes            Vegan       3.67   Stroke
14994 Yes            Keto        2.11   Stroke
14998 No             Paleo       0.51   Stroke